.jumbotron {
    background-image: url(assets/group1.png);
    background-size: cover;
    height: 100vh;
}

.row-game {
    margin-top: 100px;
}

/* HEADER */
h1::before {
    content: url(assets/logo.png) " ";
}

h1 {
    font-family: 'Potta One', cursive;
    font-size: 40px;
    color: rgb(249, 178, 61);
    margin-top: 10px;
}

/* PLAYER */
.tag1 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Potta One', cursive;
    height: 30px;
}

.row-batu {
    margin-top: 80px;
}

.batu,
.kertas,
.gunting {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.border-batu-player,
.border-kertas-player,
.border-gunting-player {
    width: 200px;
    height: 200px;
    margin: auto;
}

/* COMPUTER */
.tag2 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: auto;
    font-family: 'Potta One', cursive;
    height: 30px;
}

.batu-img-comp,
.kertas-img-comp,
.gunting-img-comp {
    width: 100px;
    height: 100px;
    transform: scaleX(-1);
}

.batu-comp,
.kertas-comp,
.gunting-comp {
    width: 200px;
    height: 200px;
    margin: auto;
}

.border-batu-comp,
.border-gunting-comp,
.border-kertas-comp {
    padding: 8px;
    border-radius: 15px;
    background-color: #C4C4C4;

}

/* VS */
.versus,
.refresh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hasil {
    font-size: 36px;
    color: white;
    font-weight: bold;
    font-family: 'Potta One', cursive;
    height: 200px;
    text-align: center;
}

.versus-tag {
    font-size: 100pt;
    color: red;
}

.img-refresh {
    height: 40px;
    cursor: pointer;
    margin-top: 80px;
}